.open-account-form button {
  display: grid;
  align-items: center;
  justify-content: center;

  margin: 2rem 0rem;
  padding: 0.7rem 1.5rem;

  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.2rem;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

.open-account-form h1 {
  margin: 0rem 5rem;
  padding: 1rem 0rem;
  /* width: 30rem; */
}
